/* buttons */
.btn-white,
.btn-primary {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 1.44rem 2.56rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.btn-small {
  padding: 1rem 1.6rem;
}

@media only screen and (max-width: 850px) {
  .btn-nav {
    padding: 0.7rem 1rem;
  }
}
